
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* i liked this font from a previous checkpoint more than the pre-loaded fonts */
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans|Quattrocento);

/* white body background */
body {
  background: ghostwhite;
  margin: 0px;
} 

/* white header background */
header {
  height: 116px;
  background: ghostwhite;
} 

/* header 1 style */
h1 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 40px;
  color: #DFCC9C;
  text-transform: uppercase;
  padding-top: 50px;
	float: right;
	margin: 0 5px 0 0;
} 

/* header 2 style */
h2 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #807459;
  text-transform: uppercase;
  padding-top: 96px;
  text-align: right;
  margin: 0 5px 0 0;
} 

/* horizontal ruler style */
hr {
	height: 1px;
	background-color: #403A2C;
} 

/*white background behind main area */
main {
  background: ghostwhite;
  padding: 50px 50px 0 50px;
} 

/* crops the photo into a circle */
.image-circle {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* unordered list style */
ul {
  list-style-position: inside;
  font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	line-height: 28px;
	color: #403A2C;
  text-align: left;
} 

/* header 3 text style */
h3 {
	font-family: Quattrocento, sans-serif;
	font-size: 32px;
	color: #403A2C;
  text-align: center;
} 

/* paragraph text style */
p {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	line-height: 28px;
	color: #403A2C;
  text-align: left;
} 

/* original link style with no interaction */
a:link {
	color: #BFAF85;
  text-decoration-line: none;
  font-weight: 600;
} 

/* link style after it's been clicked */
a:visited {
	color: #807459;
  text-decoration-line: none;
  font-weight: 600;
} 

/* link style when cursor hovers over it */
a:hover {
  color: #DFCC9C;
  text-decoration-line: none;
  font-weight: 600;
} 

/* link style when being clicked */
a:active {
  color: #FFE9B2;
  text-decoration-line: none;
  font-weight: 600;
} 

/* ordered list style */
ol {
  list-style-position: inside;
  font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	line-height: 28px;
	color: #403A2C;
  text-align: left;
} 

footer {
  background: ghostwhite;
  margin-top: 75px;
} /* white footer background */

footer p {
  font-family: Quattrocento, sans-serif;
	font-size: 13px;
	color: #605743;
  text-align: center;
  font-style: italic;
} /* footer text style */
